<nav class="navbar navbar-default navbar-static-top">
  
    </form>
    <ul class="nav navbar-nav navbar-right">
        <li class="">
            {% if user.is_authenticated %}
            <a href="/order">
            {%else%}
            <a href="/login">
            {%endif%}
            </a>
        </li>
       
        {% if user.is_authenticated %}
        <li class="">
            <a href="/sell">Sell tickets</a>
        </li>
        <li class="">
            <a href="/Mytickets">My tickets</a>
        </li>
       
        <li class="">
            <a href="{% url 'tickets:logout' %}">Logout</a>
        </li>
        {%else%}
        <li class="">
            <a href="/login">Login</a>
        </li>
        <li class="">
            <a href="/register">Register</a>
        </li>
        {%endif%}
    </ul>
