{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Issue Vision</title>

		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../../static/materialize.css"  media="screen,projection"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body>
	
		{%include "navbar.html"%}
		<div class="container">

			<div class="main-content text-center">
				<div class="row">
				<a href="{% url 'tickets:index' %}">Back to Ticket List</a>
						<h5>Priority: {{ticket.priority}}</h5>
						<h5>Status: {{ticket.status}}</h5>
						<h5>ID: {{ticket.id}}</h5>
						<h5>Submitted On: {{ticket.submitted}}</h5>
						<h5>Raised By: {{ticket.raised_by}}</h5>

					{% if ticket.raised_by == assign.assignee %}
						<h5>Assigned To: {{ticket.raised_by}}</h5>
					{% else %}
					{% endif %}
					
						<h4>Subject:</h4>
						<h4>{{ticket.subject}}</h4>

						<h4>Description:</h4>
						<h4>{{ticket.description}}</h4>
						<!-- Screenshots
						Comments -->
						<br><br><br>
						<h4>Comments:</h4>
						<h4>{{comment.submitted}}</h4>
						<h4>{{comment.description}}</h4>


				</div>
			</div>
			<a href="{% url 'tickets:index' %}">Back to Ticket List</a>

		</div>

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../static/materialize.js"></script>

	</body>
</html>